<!DOCTYPE html>
<html>
  <head>
    <title>Furima</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# payjp.jsライブラリ読み込み %>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# turbolinksに関する記述を削除 %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
